body{
    margin: 0;
    font-family: 'Consolas';
}
.game{
    width: 100vw;
    height: 100vh;

}

.start-game{
    background-color: rgb(186, 229, 100);
    width: 100%;
    height: 100%;
}

.play-game{
    background-color: rgb(104, 59, 22);
    display: none;
    width: 100%;
    height: 100%;
}

/* .charmander{
    background-image: url('../images/charNormalState.png');
    position: absolute;
    z-index: 10;
    width: 87px;
    height: 98px;
    background-size: cover;
    top: 400px;
} */

#startGame{
    font-size: 33px;
    padding: 10px 35px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Consolas';
    background-color: rgb(175, 195, 123);
    position: absolute;
    left: calc(100% / 2 - 140px);
    top: calc(100% / 2 - 7px);
}

#startGame:hover{
    background-color: green;
    color: #fff;
}